spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sanctified_journeys
    username: chablis
    password: JesuS_0nly.Yu1
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      database: postgresql
      database-platform: org.hibernate.dialect.PostgreSQLDialect
